@* <img src="img/temp24.png" class="rounded-3 w-100 position-absolute" style="top:-50%; left:0;opacity:0.025"> *@
<footer class="col-12 m-auto mt-5 pt-3 border-top border-orange bg-white bg-opacity-25 text-center ">
    <a class="d-inline-block text-decoration-none text-white m-1 btn btn-dark"><c class="text-orange">Bazaar |</c> کافه بازار اندروید</a>
    <a class="d-inline-block text-decoration-none text-white m-1 btn btn-dark"><c class="text-orange">Itch.io |</c> نسخه اندروید و دسکتاپ</a>
    <a class="d-inline-block text-decoration-none text-white m-1 btn btn-dark"><c class="text-orange">YouTube |</c> ویدیوهای آموزشی، تجربه های گیمینگ، معرفی</a>
    <a class="d-inline-block text-decoration-none text-white m-1 btn btn-dark"><c class="text-orange">GitHub |</c> نمونه کدهای آموزشی</a>


    <h6 class="bg-light bg-opacity-25 text-white pb-1 mt-3">temp24 Developer a personal game studio</h6>

</footer>

@code {

}
