
<header class="col-12 position-fixed fixed-top bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-black navbar-text  white-shadow p-1 rounded-3 m-3 mb-1">
        <div class="container-fluid">
            <a class="navbar-brand fs-2" href="#">
                <img src="/img/temp24mini.png" alt="temp24Developer" height="42" style="margin-top:-8px">
                Devel<c class="text-orange">o</c>per
            </a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="bi bi-list text-orange"></span>
            </button>
            <div class="collapse navbar-collapse pt-2" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-orange active" aria-current="page" href="#">
                            <span class="bi bi-dice-1-fill"></span>
                            Bazaar
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-orange" href="#">
                            <span class="bi bi-dice-2-fill"></span>
                            Itch.io
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-orange" href="#">
                            <span class="bi bi-dice-3-fill"></span>
                            YouTube
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="bi bi-dice-4-fill"></span>
                            Other
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="#">Instagram</a></li>
                            <li><a class="dropdown-item" href="#">GitHub</a></li>
                            <li><a class="dropdown-item" href="#">LindedIn</a></li>
                            <li><a class="dropdown-item" href="#">Kasbemoon</a></li>
                        </ul>
                    </li>
                </ul>
                @* <form class="d-flex" role="search"> *@
                @*     <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" /> *@
                @*     <button class="btn btn-outline-success" type="submit">Search</button> *@
                @* </form> *@
            </div>
        </div>
    </nav>
    @* <h6 class="bg-light bg-opacity-25 text-white-50 ps-5 pb-1">a personal game studio</h6> *@
</header>

@code {

}
