<section class="logo-motion">
    <div class="logo-box">
        <div class="logo-line">
            <span class="bi bi-arrow-down-short"></span>
        </div>
        <div class="temp">
            <span class="t24"></span>
        </div>
        <div class="developer">
            DEVEL<c class="text-orange">O</c>PER
        </div>
        <hr />
        <div class="studio"></div>
    </div>
</section>
@code {

}
